<div>
    <h1>courses</h1>
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">date</th>
                <th scope="col">title</th>
                <th scope="col">code</th>
                <th scope="col">duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courseinstances" class="table-light">
                <td>{{ course.startDate | date : 'd/M/y' }}</td>
                <td>{{ course.course.title }}</td>
                <td>{{ course.course.code }}</td>
                <td>{{ course.course.duration }}</td>
            </tr>
        </tbody>
    </table>
</div>